.days {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 92px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 0px 0px 20px 20px;
    background: var(--componentsBg);
    padding: 20px;
    
    
    @media(max-width: 1250px) {
        grid-template-columns: repeat(4, 1fr);
    }
}


